@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-slate-50 text-slate-900 antialiased overflow-x-hidden w-full;
    min-height: -webkit-fill-available;
    scroll-behavior: smooth;
  }
}

/* Custom Leaflet Map Fixes for Tailwind */
.leaflet-container {
  z-index: 10;
}
